body {
    margin: 0;
    padding: 0;

    color: white;
    background-color: rgb(13, 42, 68);
}
.navbar {
    background-color: rgba(55, 73, 133, 0.377);
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
.login {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}


.contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 100%;
}
.About {
    width: 90px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.Contact {
    width: 100px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}